---
import JamstackContainer from "../components/JamstackContainer.astro";
import MarkupContainer from "../components/MarkupContainer.astro";
import OrangeSquare from "../components/OrangeSquare.astro";
import ScoresCircles from "../components/ScoresCircles.astro";

import orb from "/images/orb.png";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <div class="hero-container">
        <JamstackContainer />
      </div>
      <OrangeSquare />
      <div class="mid-dark-section dark">
        <h2 class="section-header white-text centered-text">api</h2>
        <p class="api-paragraph">
          At build time, a Jamstack website uses data from one or more APIs to
          generate markup. These APIs can be a headless CMS like Prismic, a
          database like Supabase, or even a local JSON file!
        </p>
        <div class="orb-container">
          <img
            class="orb"
            src={orb}
            alt="sphere with supabase and prismic written on its surface"
          />
        </div>
        <svg
          class="squiggly-dark"
          viewBox="0 0 1512 214"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 0H1512V142.667C1512 142.667 1439 165.822 1302.5 165.822C1166 165.822 1036 104.946 821 104.946C606 104.946 484.5 214 304.5 214C124.5 214 0 142.667 0 142.667V0Z"
            fill="#151515"></path>
        </svg>
      </div>
      <MarkupContainer />
      <div class="bottom-dark-section dark">
        <div class="audit-scores-container">
          <h3 class="scores-header">top audit scores</h3>
          <ScoresCircles />
          <p class="scores-paragraph">
            Search engines, business stakeholders, and end-users gauge a
            website’s value using metric tools like Google Lighthouse, which
            measures site performance, SEO, and accessibility.
          </p>
          <br style="line-height: 162%" />
          <p class="scores-paragraph">
            Performance is one of the most difficult scores to get to 100. This
            is especially true in a time when users demand JavaScript-heavy,
            highly-interactive web experiences.
          </p>
          <br style="line-height: 162%" />
          <p class="scores-paragraph">
            A Jamstack website, delivering SEO-friendly, lean & clean HTML in
            milliseconds, promises higher search-engine ranking and a more
            positive, responsive end-user experience.
          </p>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer-container dark">
        <p class="footer-paragraph">
          This is a design test by Zavier for Monogram.
        </p>
        <svg
          class="footer-heart"
          viewBox="0 0 49 42"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M24.6136 41.6136L4.90057 21.9006C3.32813 20.3281 2.27983 18.5 1.75568 16.4162C1.24432 14.3324 1.25071 12.2614 1.77486 10.2031C2.29901 8.1321 3.34091 6.32954 4.90057 4.79545C6.49858 3.22301 8.32031 2.18111 10.3658 1.66974C12.424 1.1456 14.4759 1.1456 16.5213 1.66974C18.5795 2.19389 20.4077 3.23579 22.0057 4.79545L24.6136 7.3267L27.2216 4.79545C28.8324 3.23579 30.6605 2.19389 32.706 1.66974C34.7514 1.1456 36.7969 1.1456 38.8423 1.66974C40.9006 2.18111 42.7287 3.22301 44.3267 4.79545C45.8864 6.32954 46.9283 8.1321 47.4524 10.2031C47.9766 12.2614 47.9766 14.3324 47.4524 16.4162C46.9411 18.5 45.8991 20.3281 44.3267 21.9006L24.6136 41.6136Z"
            fill="#FF069C"></path>
        </svg>
      </div>
    </footer>
  </body>
</html>

<style is:global>
  /* I try to have as little global styling as possible and focus on what makes the most sense here */
  * {
    margin: 0;
  }
  @font-face {
    font-family: "Inter Black";
    src: url("/fonts/Inter-Black.woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Inter Bold";
    src: url("/fonts/Inter-Bold.woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Inter Light";
    src: url("/fonts/Inter-Light.woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }
  .section-header {
    font-family: "Inter Black", sans-serif;
    font-size: 8.3215rem;
  }
  /* mobile view */
  @media (max-width: 35em) {
    .scores-header {
      font-size: 3.17rem;
    }
    .hero-paragraph,
    .orange-square-paragraph {
      font-size: 0.75rem;
    }
    .api-paragraph,
    .markup-paragraph,
    .footer-paragraph {
      font-size: 1rem;
    }
    .scores-paragraph {
      font-size: 1.083rem;
      padding: 0 12%;
    }
    .section-header {
      font-size: 2.07rem;
      letter-spacing: -0.1rem;
    }
    .hero-container {
      margin: 10.028% 0 75%;
    }
    .mid-dark-section {
      padding-top: 80%;
    }
    .audit-scores-container {
      top: -2vh;
      margin: 0 5%;
      border-radius: 34px;
    }
    .scores-header {
      font-size: 1.78rem;
      letter-spacing: -0.1rem;
    }
  }
</style>

<style>
  body,
  main {
    overflow-x: hidden;
  }
  img,
  svg {
    max-width: 100%;
    display: block;
  }
  h1,
  h2 {
    font-family: "Inter Black", sans-serif;
  }
  p {
    font-family: "Inter Light", sans-serif;
  }
  /*--- utility classes ---*/
  .white-text {
    color: #fff;
  }
  .centered-text {
    text-align: center;
  }
  .dark {
    background-color: #151515;
  }
  /*--- utility classes ---*/

  .hero-container {
    /* margin: 0 7.5%; */
    /* width: 100%; */
    margin: 10.028% 0 44.38rem;
    padding-left: 8.34%;
    position: relative;
  }
  /* I try to get as close as possible to the Figma design, the decimals very specific */
  /* I chose to shift this up along with the svg squiggle to sit under the orange square */
  .mid-dark-section {
    /* min-height: 2315px; */
    width: 100vw;
    padding-top: 101.5%;
    position: relative;
    top: -12rem;
    /* transform: translateY(-12rem); */
    /* z-index: -1; */
  }
  /* added left and right padding so the words are aligned exactly as the design */
  .api-paragraph {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    line-height: 162%;
    padding: 8.4% 26% 54.7%;
  }
  .orb-container {
    display: flex;
    justify-content: center;
  }
  .orb {
    position: absolute;
    /* top: 121.5rem; */
    width: 70%;
    top: 84%;
    left: 11%;
    z-index: 2;
  }
  .squiggly-dark {
    width: 100%;
    position: absolute;
  }
  .bottom-dark-section {
    width: 100vw;
    padding-bottom: 15.31rem;
    /* position: sticky; */
    /* min-height: 1799px; */
    /* top: 100%; */
  }
  .audit-scores-container {
    position: relative;
    top: -5.37rem;
    margin: 0 10%;
    border-radius: 68px;
    background: linear-gradient(
      346deg,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(123, 245, 93, 0.11) 100%
    );
    backdrop-filter: blur(60px);
    padding-bottom: 13.56rem;
  }
  .scores-header {
    color: #efffe2;
    text-align: center;
    font-size: 4.75rem;
    font-family: "Inter Black";
    letter-spacing: -0.18525rem;
    /* padding-top: 7.5rem; */
    padding-top: 9%;
  }
  .scores-paragraph {
    color: #c7c7c7;
    font-size: 1.625rem;
    line-height: 162%;
    padding: 0 18.5%;
    opacity: 70%;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 9.75rem;
  }
  .footer-paragraph {
    color: #fff;
    font-size: 1.5rem;
    line-height: 162%;
    margin-bottom: 1.88rem;
  }
  .footer-heart {
    width: min(3.5rem, 9.2%);
  }
  @media (max-width: 35em) {
    .mid-dark-section {
      top: -6vh;
    }
  }
</style>
