---
import FloatingText from "./FloatingText";
---

<!-- I like to use react-three-fiber for threejs development -->
<style>
  .floating-text-container {
    height: 100%;
    top: 0;
    position: absolute;
    /* z-index: 0; */
  }
</style>

<!-- nesting the React component into Astro lets me keep the same workflow across the project -->
<div class="floating-text-container">
  <FloatingText client:only="react" />
</div>
