---
import FloatingText from "./FloatingText";
---

<style>
  .floating-text-container {
    height: 100%;
    top: 0;
    position: absolute;
    /* z-index: 0; */
  }
</style>

<div class="floating-text-container">
  <FloatingText client:only="react" />
</div>
