---
import MarkupGraphics from "./MarkupGraphics.astro";
---

<style>
  .markup-container {
    position: relative;
    /* width: 100%; */
    /* margin: 25.75rem 0 42.37rem 8.34%; */
    margin: 25.75rem 0 0 8.34%;
    padding-bottom: 47.796rem;
    /* min-height: 78.6875rem; */
  }
  .markup-paragraph {
    color: #414141;
    font-family: "Inter Light";
    font-size: 1.5rem;
    line-height: 162%;
    width: min(31.75%, 30rem);
    margin-top: 4.31rem;
  }
</style>

<div class="markup-container">
  <h2 class="section-header">markup</h2>
  <p class="markup-paragraph">
    When ready for deployment, a static-site generator such as Astro or Next.js
    is used to compile the website. The end result is a collection of
    pre-rendered HTML pages that can be delivered lightning-fast over a CDN like
    Vercel’s Edge Network.
  </p>
  <MarkupGraphics />
</div>
