---
import orangeSquare from "/images/orange-square.svg";
import computer from "/images/computer.png";
import computerArrow from "/images/computer-arrow.svg";
---

<style>
  .orange-square-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .orange-square {
    width: 92.39%;
    z-index: 1;
  }
  .orange-square-text-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 10.41%;
    z-index: 2;
  }
  .orange-square-header {
    font-family: "Inter Black";
    text-align: center;
    line-height: 9.53125rem;
    letter-spacing: -0.32419rem;
    padding: 0;
    color: #fff;
  }
  .orange-square-paragraph {
    color: #fff;
    text-align: center;
    font-family: "Inter Light";
    font-size: 1.125rem;
    line-height: 195.5%;
    letter-spacing: 0.00563rem;
    margin: 2.75rem 0 4.25rem;
    max-width: 36.125rem;
    z-index: 2;
  }
  .computer {
    position: absolute;
    top: 48%;
    width: min(47.65rem, 53.57%);
    z-index: 1;
  }
  .computer-arrow {
    position: absolute;
    top: 30%;
    right: 11.07%;
    z-index: 1;
  }
  @media (max-width: 35em) {
    .orange-square {
    }
    .orange-square-text-container {
      top: 7.5%;
    }
    .orange-square-header {
      font-size: 5rem;
      line-height: normal;
    }
    .orange-square-paragraph {
      margin: 2.5% auto 4.9%;
      max-width: 70%;
    }
    .computer {
      top: 70%;
    }
    .computer-arrow {
      top: 48%;
      right: 6%;
      width: 15%;
      rotate: 30deg;
    }
  }
</style>

<div class="orange-square-container">
  <div class="orange-square-text-container">
    <h2 class="orange-square-header section-header centered-text">
      javascript
    </h2>
    <p class="orange-square-paragraph">
      Statically generated pages are brought to life with client-side JavaScript
      libraries and frameworks, such as Algolia and Next.js.
    </p>
  </div>
  <img class="orange-square" src={orangeSquare} alt="orange rounded square" />
  <img
    class="computer"
    src={computer}
    alt="retro computer with HTML code on screen"
  />
  <img
    class="computer-arrow"
    src={computerArrow}
    alt="squiggly arrow pointing to computer"
  />
</div>
